@use "variables";
@use "bootstrap";
/* Example for a custom font (replace with your own font's path and name) */
@font-face {
	font-family: "Roboto";
	src: url("src/assets/fonts/Roboto-Regular.ttf") format("ttf");
	font-weight: normal;
	font-style: normal;
}

:root{
    font-family: "Roboto", "Arial", sans-serif;
}

.bg {
	background-color: transparent;
}

// Dynamically create classes

@each $bgName, $bgColor in variables.$background-colors {
    @each $textName, $textColor in variables.$text-colors{
        .#{$bgName} {
            color: $textColor;
            background-color: $bgColor;
        }
    }
}


@each $name, $color in variables.$background-colors {
	.bg-#{$name} {
        @extend .bg;
		background-color: $color;
	}
}

@each $name, $color in variables.$text-colors {
    .text-#{$name}{
        color: $color;
    }
}

@each $name, $color in variables.$colors {
    .btn-#{$name} {
        @extend .btn;
        background-color: $color;
    }
}
