$colors: (
	primary: #19c6f4,
	secondary: #1978f4,
);

$btn-colors: (
	primary: map-get($colors, primary),
	secondary: map-get($colors, secondary),
	success: #28a745,
	danger: #dc3545,
	warning: #ffc107,
	info: #17a2b8,
);

$background-colors: (
	light: #dfdfdf,
	dark: #171717,
);

$text-colors: (
	light: black,
	dark: white,
);
