import { Sequelize } from 'sequelize';

export const seq = new Sequelize({
    dialect: 'postgres',
    host: 'localhost',
    username: 'your_username',
    password: 'your_password',
    database: 'moody_db',
});
