import { Sequelize } from 'sequelize';

export const seq = env.DB_URL
	? new Sequelize(env.DB_URL)
	: new Sequelize({
			host: "localhost",
			dialect: "postgres",
			username: env.DB_USER || "postgres",
			password: env.DB_PASS || "rootroot",
			database: env.DB_DATABASE,
	  });
