@use "sass:map";
@use "bootstrap/scss/bootstrap" as *; //apparently doesn't work to compile yet
@use "variables";
// @import "../../node_modules/bootstrap/scss/bootstrap.scss";

/* Example for a custom font (replace with your own font's path and name) */
@font-face {
	font-family: "Roboto";
	src: url("src/assets/fonts/Roboto-Regular.ttf") format("ttf");
	font-weight: normal;
	font-style: normal;
}

:root{
    font-family: "Roboto", "Arial", sans-serif;
}

.bg {
	background-color: transparent;
}

.login-logo{
    width: 150px;
}
.header-logo{
    width: 50px;
    margin: 1em;
}

.warnings {
    color: $danger;
}

// Dynamically create classes
@each $bgName, $bgColor in variables.$background-colors {
    .theme-#{$bgName} {
        background-color: $bgColor;
        color: map.get(variables.$text-colors, #{$bgName});
    }
}

@each $name, $color in variables.$background-colors {
	.bg-#{$name} {
        @extend .bg;
		background-color: $color !important;
	}
}

@each $att, $value in variables.$colors {
    .bg-#{$att} {
        @extend .bg;
        background-color: $value !important;
    }
}

@each $name, $color in variables.$text-colors {
    .text-#{$name}{
        color: $color !important;
    }
}

@each $name, $color in variables.$btn-colors {
    .btn-#{$name} {
        @extend .btn;
        background-color: $color !important;
    }
}
